<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
						 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
	default-lazy-init="false">
	<context:component-scan base-package="com.macrossx.server" />
	<context:component-scan base-package="com.macrossx.springframework" />
	<bean id="applicationProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
				<!-- <value>classpath:config/alipay.properties</value> <value>classpath:config/wechat.properties</value> -->
			</list>
		</property>
	</bean>
	<bean id="applicationPropertyConfigurer"
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="applicationProperties" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>
	<import resource="classpath:commonContext.xml" />
	<!-- aop -->
	<!-- <bean id="httpRequestSignValidity" class="com.carway.appserver.aop.HttpRequestSignValidity" />
	<bean id="httpRequestTokenValidity" class="com.carway.appserver.aop.HttpRequestTokenValidity" />-->
<!-- <aop:config>
		<aop:aspect id="sign" ref="httpRequestSignValidity" order="0">
			<aop:pointcut id="target-sign"
				expression="execution(* com.carway.appserver.controller.*.*(..))" />
			<aop:around method="around" pointcut-ref="target-sign" />
		</aop:aspect>
		<aop:aspect id="token" ref="httpRequestTokenValidity"
			order="1">
			<aop:pointcut id="target-token"
				expression="execution(* com.carway.appserver.controller.*.*(..))" />
			<aop:around method="around" pointcut-ref="target-token" />
		</aop:aspect>
	</aop:config> -->	
	<context:annotation-config />

</beans>